<div class="sign-in-container">
  
    <div class="sign-in-head">
      <div class="sign-in-title">
        <h1 class="sign-in-title-main">Sign In</h1>
      </div>
      <div class="btn-modal-close" (click)="closeDialog()">
        <i class="fal fa-times close-icon"></i>
      </div>
    </div>
  
    <hr />
  
    <form class="sign-in-form" [formGroup]="form" (ngSubmit)="submitHandler()">
        <input class="sign-in-form-input-email" type="text" placeholder="example@email.com" formControlName="email"/>
        <input class="sign-in-form-input-password" type="text" placeholder="Password" formControlName="password"/>
        <button [disabled]="form.invalid" class="sign-in-btn-submit">Log In</button> 
      </form>
  </div>
  
  
  