<div class="home-container">
  <div class="card">
    <div class="card-head">Welcome</div>
    <div class="card-body">
      We believe in the power of sharing and celebrating the good in our
      everyday lives.This is a unique space where positivity reigns and happy
      experiences take center stage. Me2 is a sanctuary where only positive
      reviews about places or impressions of a person's professionalism in any
      field . We invite you to explore, share, and revel in the positive
      experiences gathered from all corners of our community. Here you can find
      only positive information about someone's experience with any business or
      impressions about some peaceful and beautiful place.
    </div>
  </div>
</div>

<h1 class="recent-posts-message">Recent posts</h1>
<div class="recent-post-container">
  <div class="experiences-container">
    <app-card
      [path]="'/experiences/experienceId'"
      [title]="'Proffesional painter'"
      [content]="
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio asperiores incidunt inventore, eos ex perferendis quasi? Ratione error quae cupiditate autem. Voluptates eius maxime voluptas tenetur quidem ipsum, minus quaerat.'
      "
    ></app-card>
    <app-card
      [path]="'/experiences/experienceId'"
      [title]="'Electrician'"
      [content]="
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio asperiores incidunt inventore, eos ex perferendis quasi? Ratione error quae cupiditate autem. Voluptates eius maxime voluptas tenetur quidem ipsum, minus quaerat.'
      "
    ></app-card>
    <app-card
      [path]="'/experiences/experienceId'"
      [title]="'Technician'"
      [content]="
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio asperiores incidunt inventore, eos ex perferendis quasi? Ratione error quae cupiditate autem. Voluptates eius maxime voluptas tenetur quidem ipsum, minus quaerat.'
      "
    ></app-card>
  </div>
  <div class="recent-places-container">
    <div class="places-container">
      <app-card
        [path]="'/places/placeId'"
        [title]="'Vitosha'"
        [content]="
          'Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio asperiores incidunt inventore, eos ex perferendis quasi? Ratione error quae cupiditate autem. Voluptates eius maxime voluptas tenetur quidem ipsum, minus quaerat.'
        "
      ></app-card>
      <app-card
        [path]="'/places/placeId'"
        [title]="'Happy restaurant '"
        [content]="
          'Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio asperiores incidunt inventore, eos ex perferendis quasi? Ratione error quae cupiditate autem. Voluptates eius maxime voluptas tenetur quidem ipsum, minus quaerat.'
        "
      ></app-card>
      <app-card
        [path]="'/places/placeId'"
        [title]="'Gabrovo Etura'"
        [content]="
          'Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio asperiores incidunt inventore, eos ex perferendis quasi? Ratione error quae cupiditate autem. Voluptates eius maxime voluptas tenetur quidem ipsum, minus quaerat.'
        "
      ></app-card>
    </div>
  </div>
</div>
