<h1>Home</h1>
<div class="card">
    <div class="card-head">Lorem ipsum - Home</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, fugit odio? Aliquam nihil quae corrupti quo sint vitae maxime esse repellat enim incidunt, praesentium, unde nulla, numquam quidem nisi ipsam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, fugiat sed! Delectus temporibus soluta atque nobis numquam maxime et mollitia, aspernatur reprehenderit magni, vitae veritatis expedita ipsam enim aut provident.
    </div>
</div>