<div class="home-container">
  <div class="card">
    <div class="card-head">Welcome</div>
    <div class="card-body">
      We believe in the power of sharing and celebrating the good in our
      everyday lives.This is a unique space where positivity reigns and happy
      experiences take center stage. Me2 is a sanctuary where only positive
      reviews about places or impressions of a person's professionalism in any
      field . We invite you to explore, share, and revel in the positive
      experiences gathered from all corners of our community. Here you can find
      only positive information about someone's experience with any business or
      impressions about some peaceful and beautiful place.
    </div>
  </div>
</div>

<h1 class="recent-posts-message">Recent posts</h1>
<div class="recent-post-container">
  <div
    class="experiences-container"
    *ngIf="experiences && experiences.length > 0"
  >
  <h1 class="recent-posts-experiences-message">experiences</h1>
    <div class="experiences-container-wrapper">
      <app-card
        *ngFor="let experience of experiences"
        [title]="experience.service"
        [content]="experience.description"
        [path]="'/experiences/details/' + experience._id"
      ></app-card>
    </div>
  </div>
  <div class="recent-places-container" *ngIf="places && places.length > 0">
    <h2 class="recent-posts-places-message">places</h2>
    <div class="places-container">
      <app-card
        *ngFor="let place of places"
        [title]="place.title"
        [content]="place.description"
        [path]="'/places/details/' + place._id"
      ></app-card>
    </div>
  </div>
</div>
