button {
    height: 2.5rem;
    background: none;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 0 2rem;
    background-color: #263238;
    overflow: hidden;
    text-shadow: none;
    min-width: 13rem;
    margin-top: 1rem;
    cursor: pointer;
}

button:hover, button:focus{
    background-color: #699dfa;
  }