<app-spinner></app-spinner>
<h1>Places list</h1>
<div class="places-container" *ngIf="placesList && placesList.length > 0">
  <app-card
    *ngFor="let place of displayedPlaces"
    [title]="place.title"
    [content]="place.description"
    [path]="'details/' + place._id"
  ></app-card>
</div>
<p
  *ngIf="displayedPlaces && displayedPlaces.length == 0"
  class="places-container-message"
>
  No places have been added yet.
</p>
<mat-paginator
  class="paginator-container"
  [length]="placesList.length"
  [pageSizeOptions]="[6, 12, 24, 36, 54]"
  (page)="onPageChange($event)"
>
</mat-paginator>
