<div class="card">
    <div class="card-head">
        <form class="card-head-form" [formGroup]="form" (ngSubmit)="searchSubmitHandler()">
            <input type="text" formControlName="searchInput" placeholder="Search" class="search-input"/>
            <button [disabled]="form.invalid" class="search-btn">
                <i class="fas fa-search search-icon"></i>
            </button>
        </form>
    </div>
</div>

<div class="search-container">
    <app-card
      [path]="'/experiences/experienceId'"
      [title]="'Proffesional painter'"
      [content]="
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio asperiores incidunt inventore, eos ex perferendis quasi? Ratione error quae cupiditate autem. Voluptates eius maxime voluptas tenetur quidem ipsum, minus quaerat.'
      "
    ></app-card>
    <app-card
      [path]="'/experiences/experienceId'"
      [title]="'Electrician'"
      [content]="
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio asperiores incidunt inventore, eos ex perferendis quasi? Ratione error quae cupiditate autem. Voluptates eius maxime voluptas tenetur quidem ipsum, minus quaerat.'
      "
    ></app-card>
    <app-card
      [path]="'/experiences/experienceId'"
      [title]="'Technician'"
      [content]="
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio asperiores incidunt inventore, eos ex perferendis quasi? Ratione error quae cupiditate autem. Voluptates eius maxime voluptas tenetur quidem ipsum, minus quaerat.'
      "
    ></app-card>
    <app-card
        [path]="'/places/placeId'"
        [title]="'Vitosha'"
        [content]="
          'Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio asperiores incidunt inventore, eos ex perferendis quasi? Ratione error quae cupiditate autem. Voluptates eius maxime voluptas tenetur quidem ipsum, minus quaerat.'
        "
      ></app-card>
      <app-card
        [path]="'/places/placeId'"
        [title]="'Happy restaurant '"
        [content]="
          'Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio asperiores incidunt inventore, eos ex perferendis quasi? Ratione error quae cupiditate autem. Voluptates eius maxime voluptas tenetur quidem ipsum, minus quaerat.'
        "
      ></app-card>
      <app-card
        [path]="'/places/placeId'"
        [title]="'Gabrovo Etura'"
        [content]="
          'Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio asperiores incidunt inventore, eos ex perferendis quasi? Ratione error quae cupiditate autem. Voluptates eius maxime voluptas tenetur quidem ipsum, minus quaerat.'
        "
      ></app-card>
</div>

