<app-spinner></app-spinner>
<div class="card" *ngIf="place">
  <div class="card-head">Details</div>
  <div class="card-body">
    <div class="add-place-container">
      <span class="title-info">{{place.title}}</span>
      <span class="city-info">{{place.city}}</span>
      <span class="street-info">{{place.street}}</span>
      <textarea class="description-info" readonly>{{place.description}}</textarea>
    </div>
    <div class="owner-buttons" *ngIf="isOwner">
      <a [routerLink]="'/places/edit/' + id"><button class="submit-btn">Edit</button></a>
      <button class="submit-btn" (click)="onDeleteHandler()">Delete</button>
    </div>
  </div>
</div>
