<h1 class="contacts-message">Contacts</h1>

<div class="contacts-container">
  <div class="card">
    <div class="card-head">Here's how you can reach us...</div>
    <div class="card-body">
        <div class="card-body-item">
            <a href="mailto:me2@gmail.com">
                <i class="fas fa-envelope contact-icons"></i>
            </a>
            <span>via Email</span>
        </div>
      <div class="card-body-item">
        <a href="http://facebook.com" target="_blank">
            <i class="fab fa-facebook contact-icons"></i>
        </a>
        <span>via Facebook</span>
      </div>
      <div class="card-body-item">
        <a href="http://Instagram.com" target="_blank">
            <i class="fab fa-instagram contact-icons"></i>
        </a>
        <span>via Instagram</span>
      </div>
      <div class="card-body-item">
        <a href="https://twitter.com/" target="_blank" >
            <i class="fab fa-twitter contact-icons"></i>
        </a>
        <span>via Twitter</span>
      </div>
    </div>
  </div>
</div>
