<div class="head" [ngClass]="getHeadClass()">
    <div class="head-content">
        <div class="head-content-left">
            <a [routerLink]="'/experiences'" class="head-content-left-link">
                <i class="fas fa-plus add-icon"></i>
                Add experience
            </a>
            <a [routerLink]="'/places'" class="head-content-left-link">
                <i class="fas fa-plus add-icon"></i>
                Add place
            </a>
        </div>
        <div class="head-content-right">
            <div class="head-menu">
                <div class="head-menu-item">
                    <button (click)="openLoginDialog()" class="head-menu-item-btn ripple">
                        <i class="fas fa-sign-in-alt menu-icon"></i>
                        Sign-in
                    </button>
                    <button (click)="openRegisterDialog()" class="head-menu-item-btn ripple">
                        <i class="fas fa-edit menu-icon"></i>
                        Sign-up
                    </button>
                    <button routerLink="auth/logout" class="head-menu-item-btn ripple">
                        <i class="fas fa-sign-out-alt menu-icon"></i>
                        Logout
                    </button>
                </div>
            </div>
            <div class="head-user-avatar-container">
                <div class="head-user-avatar">
                    <img src="assets/user.png" alt="user" class="user-avatar">
                </div>
                <div class="head-user-info-container">
                    <div class="head-user-info">
                        <span class="head-user-info-email">viktor-stefanov&#64;mail.bg</span>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>