input{
  width: 23.3rem;
  height: 3rem;
  background-color:#F5F5F5;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-family: 'Helvetica', sans-serif;
  line-height: 18px;
  word-spacing: 0px;
  text-decoration: rgb(28,30,33);
  font-size: 0.9rem;
}