.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  gap: 1rem;
  max-width: 20rem;


  .card-footer-link {
    height: 1.5rem;
    background: none;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: #fff;
    font-size: 0.9rem;
    padding: 1rem 1rem;
    background-color: #263238;
    overflow: hidden;
    text-shadow: none;
    min-width: 4rem;
    margin-top: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0px;
  }
}


.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: .5rem;
  background-color: #fff;
  margin: 2.25rem 0 1.25rem 0;
  box-shadow: 0 .25rem .5rem #e6edef;
  color: #495057;
  padding-bottom: 2rem;
  padding-top: 2rem;

  .card-head{
      padding: 1rem 1.5rem;
      border-bottom: 1px solid #edf1f7;
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 2rem;
  }

  .card-body{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
  }
}

.details-experience-container{
display: flex;
flex-direction: column;
gap: 1rem;
align-items: center;
justify-content: center;
}

.person-info, .phoneNumber-info, .service-info, .description-info {
  width: 23.3rem;
  height: 3rem;
  background-color: #f5f5f5;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-family: "Helvetica", sans-serif;
  line-height: 18px;
  word-spacing: 0px;
  text-decoration: rgb(28, 30, 33);
  font-size: 1.1rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.description-info{
  resize: none;
  color: #495057;
  height: 20rem;
  text-align: justify;
}

.submit-btn {
  height: 2.5rem;
  background: none;
  border: none;
  border-radius: 6px;
  box-shadow: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 0 2rem;
  background-color: #263238;
  overflow: hidden;
  text-shadow: none;
  min-width: 13rem;
  margin-top: 1rem;
  cursor: pointer;
}

.submit-btn:hover, .submit-btn:focus{
  background-color: #699dfa;
}

.description-input-field {
  width: 23.3rem;

  mat-label{
      font-family: "Helvetica", sans-serif;
      font-size: 1.1rem;
  }
}

.owner-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
  a{
    text-decoration: none;
    color: #fff;
}
}
