<app-spinner *ngIf="!experience"></app-spinner>
<div class="card" *ngIf="experience">
    <div class="card-head">Details</div>
    <div class="card-body">
      <div class="details-experience-container">
        <span class="service-info">{{experience.service}}</span>
        <span class="person-info">{{experience.person}}</span>
        <span class="phoneNumber-info">{{experience.phoneNumber}}</span>
        <textarea class="description-info" readonly>{{experience.description}}</textarea>
      </div>
      <div class="owner-buttons" *ngIf="isOwner">
        <a routerLink="/experiences/edit"><button class="submit-btn">Edit</button></a>
        <button class="submit-btn" (click)="onDeleteHandler()">Delete</button>
      </div>
    </div>
  </div>
  