<app-spinner *ngIf="!experience"></app-spinner>
<div class="card" *ngIf="experience">
  <div class="card-head">Edit</div>
  <div class="card-body">
    <form class="edit-experience-form" [formGroup]="form" (ngSubmit)="submitHandler()">
      <div class="service-wrapper">
        <input
          class="service-input"
          type="text"
          placeholder="Service*"
          formControlName="service"
          id="{{
            service.invalid && (service.dirty || service.touched)
              ? 'service'
              : ''
          }}"
        />
        <small *ngIf="service.invalid && (service.dirty || service.touched)" class="error">
          <div *ngIf="service.errors?.['required']">Service is required</div>
          <div *ngIf="service.errors?.['minlength']">
            Service should be at least 5 characters
          </div>
        </small>
      </div>
      <div class="person-wrapper">
        <input
          class="person-input"
          type="text"
          placeholder="Person's name*"
          formControlName="person"
          id="{{
            person.invalid && (person.dirty || person.touched)
              ? 'city'
              : ''
          }}"
        />
        <small *ngIf="person.invalid && (person.dirty || person.touched)" class="error">
          <div *ngIf="person.errors?.['required']"> Person's name is required</div>
          <div *ngIf="person.errors?.['minlength']">
            Person's name should be at least 3 characters
          </div>
        </small>
      </div>
      <div class="phoneNumber-wrapper">
        <input
          class="phoneNumber-input"
          type="text"
          placeholder="Person's phone number*"
          formControlName="phoneNumber"
          id="{{
            phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)
              ? 'phoneNumber'
              : ''
          }}"
        />
        <small *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="error">
          <div *ngIf="phoneNumber.errors?.['required']">Person's phone number is required</div>
          <div *ngIf="phoneNumber.errors?.['minlength']">
            Person's phone number should be at least 10 characters
          </div>
        </small>
      </div>
      <div class="description-wrapper">
        <mat-form-field class="description-input-field" >
          <textarea
            class="description-input"
            formControlName="description"
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="20"
            placeholder="Description*"
            id="description-input"
          ></textarea>
          <small *ngIf="description.invalid && (description.dirty || description.touched)" class="error">
            <div *ngIf="description.errors?.['required']">Description is required</div>
            <div *ngIf="description.errors?.['minlength']">Description should be at least 100 characters</div>
          </small>
        </mat-form-field>
      </div>
      <div class="card-footer">
        <button [disabled]="form.invalid" class="submit-btn">Save</button>
      </div>
    </form>
  </div>
</div>
