<div class="card">
    <div class="card-head">Edit place</div>
    <div class="card-body">
      <form class="add-place-form" [formGroup]="form" (ngSubmit)="submitHandler()">
        <input
          class="title-input"
          type="text"
          placeholder="Title*"
          formControlName="title"
        />
        <input
          class="city-input"
          type="text"
          placeholder="City*"
          formControlName="city"
        />
        <input
          class="street-input"
          type="text"
          placeholder="Street*"
          formControlName="street"
        />
        <mat-form-field class="description-input-field">
          <mat-label>Description</mat-label>
          <textarea
            class="description-input"
            formControlName="description"
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="20"
          ></textarea>
        </mat-form-field>
      </form>
      <div class="card-footer">
        <button [disabled]="form.invalid" class="submit-btn"><a [routerLink]="'/places'" >Save</a></button>
    </div>
    </div>
  </div>
  