.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #fff;
  margin: 2.25rem 0 1.25rem 0;
  box-shadow: 0 0.25rem 0.5rem #e6edef;
  color: #495057;
  padding-bottom: 2rem;
  max-height: 14.875rem;

  a {
    text-decoration: none;
    color: #495057;
  }

  .card-head {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf1f7;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }

  .card-head:focus,
  .card-head:hover {
    color: #699dfa;
    cursor: pointer;
    text-decoration: underline;

    a {
        color: inherit;
    }
  }

  .card-body {
    padding: 1rem 1.5rem;
    text-align: justify;
    max-width: 20rem;
    max-height: 10rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: justify;
    line-height: 1.8;

    /* dots */
    
  }

  .ellipsis-container {
    position: relative;
    max-height: calc(5 * 1.5em);
    overflow: hidden; 
  }
  
  .ellipsis {
    margin-right: -1em; 
    padding-right: 1em; 
    white-space: pre-line; 
    line-height: 1.5em; 
  }
  
  .ellipsis::after {
    content: '...';
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 1em; 
    background-color: white;
  }
}
